<table>
  <tr>
    <td>
      <h3><% title "New Microblog Page" %></h3>
      <%= render 'form' %>
    </td>
    <td class='sidebar round'>
      Either top keywords, or something
    </td>
  </tr>
</table>
