<%= will_paginate @microposts %>
<table class="microposts" summary="User microposts">
  <%= render(:partial => 'shared/micropost', :collection => @microposts) %>
</table>
<%= will_paginate @microposts %>
