<div class='youtube_small_right'>
  <object width="200" height="175">
    <param name="movie" value="http://www.youtube.com/v/TU7JjJJZi1Q?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/TU7JjJJZi1Q?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="200" height="175"></embed>
  </object>
</div>
<div class='indented'>
  <h1><%= title 'Help'%></h1>
  <pre>
    Help, I need somebody,
    Help, not just anybody,
    Help, you know I need someone, help.

    When I was younger, so much younger than today,
    I never needed anybody's help in any way.
    But now these days are gone, I'm not so self assured,
    Now I find I've changed my mind and opened up the doors.

    Help me if you can, I'm feeling down
    And I do appreciate you being round.
    Help me, get my feet back on the ground,
    Won't you please, please help me?
  </pre>
</div>
